.App {
  text-align: center;
  background: #edf6f9;
  color: #fff;
}

a {
  color: #fff;
  margin: 0 10px;
}

h2 {
  color: #353535;
}

.user-input-group {
  background: #fff;
  padding: 15px;
}

.MuiAppBar-colorPrimary {
  background-color: #f08080;
}